html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1875rem;
  line-height: 1.6875rem;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  font-family: "Stick-A-RoundW00-Stick-A-Round";
  font-weight: 100;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
}
.header-logo {
  height: 65px;
  width: 65px;
}
.navbar {
  flex-grow: 2;
  padding: 0 50px;
  max-width: 800px;
  align-items: stretch;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.navbar ul li a {
  padding: 1rem;
  color: #f30501;
  text-decoration: none;
}
.navbar ul li a:hover {
  background-color: #f30501;
  color: #fff;
}
.fa-search {
  color: #f30501;
}

main {
  background-color: #f30501;
  height: 2500px;
}

/* main */

/* Jumbo */

.jumbo {
  background-color: #ff3026;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.jumbo h1 {
  font-size: 5rem;
  color: #fff;
}
/* products */

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex: auto;
  flex: 0 0 25%;
}

.product img {
  display: flex;
  width: 100%;
}

/* our story */

.our-story {
  background: #46a916;
  padding: 3rem;
}

.our-story--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-story--text {
  margin-left: 2rem;
}

.our-story h1 {
  margin: 0;
  color: #fff;
  font-weight: 100;
}
.our-story a {
  color: #fff;
  text-decoration: none;
}

.our-story--wrapper img {
  width: 40%;
}

/* discover */

.discover-our-icecream {
  padding: 3rem;
  background: #fd0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-our-icecream h1 {
  color: #f30501;
  font-size: 3rem;
}
.discover-our-icecream--wrapper {
  display: flex;
}
.discover-our-icecream--glutenfree {
  display: flex;
  background: url("/images/glutenfree.jpg") top left/cover no-repeat;
  height: 265px;
  width: 430px;
  justify-content: center;
  align-items: center;
}
.discover-our-icecream--childeren {
  display: flex;
  background: url("/images/childeren.jpg") top left/cover no-repeat;
  height: 265px;
  width: 430px;
  justify-content: center;
  align-items: center;
}

.discover-our-icecream--image-header {
  color: #fff;
}
button {
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #f30501;
  border-radius: 3rem;
  font-size: 1rem;
}
button a {
  color: #f30501;
}
