html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* LATER VERIJDEREN */
h1 {
  margin: 0;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
}
.header-logo {
  height: 65px;
  width: 65px;
}
.navbar {
  flex-grow: 2;
  padding: 0 50px;
  max-width: 800px;
  align-items: stretch;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.navbar ul li a {
  padding: 1rem;
  color: #f30501;
}
.navbar ul li a:hover {
  background-color: #f30501;
  color: #fff;
}

main {
  background-color: lawngreen;
  height: 2500px;
}
